/* header section css */
.navbar-toggler:focus {
    box-shadow: none;
}

.navbar {
    padding: 16px 0;
}

.navbar-brand {
    padding: 0;
    margin: 0;
    line-height: 0;
}

.navbar-nav {
    gap: 32px;
    align-items: center;
}

a.nav-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #424242 !important;
    padding: 0 !important;
}


#login_btn {
    padding: 12px 24px;
    border: 1px solid #616161;
    border-radius: 8px;
    cursor: pointer;
}

#account_btn {
    padding: 12px 24px;
    border: 1px solid #EA2227;
    border-radius: 8px;
    cursor: pointer;
}

#account_btn a {
    color: #EA2227 !important;
}

.section_P {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #424242;
    margin-bottom: 24px;
}

.banner {
    padding: 133px 0;
}

@media screen and (max-width: 767px) {
    .banner {
        padding: 48px 0;
    }
}

.banner_body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    align-items: center;
}

.banner_body img {
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.16));
    border-radius: 6.79458px;
    border: 2px solid #E0E0E0;
}

.banner_body h2 {
    font-weight: 900;
    font-size: 56px;
    line-height: 64px;
    color: #212121;
    margin-bottom: 16px;
}

.wholeSeller {
    padding: 32px 0 25px 0;
}

.wholeSeller h3 {
    font-weight: 800;
    font-size: 23px;
    line-height: 29px;
    text-align: center;
    color: #212121;
    margin-bottom: 16px;
}

.wholeSeller .brand {
    width: 220.8px;
    padding: 10px;
    text-align: center;
}

.wholeSeller .brand img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* how it works section css */
.how_works {
    padding: 70px 0 80px 0;
    margin-bottom: 50px;
}

.how_works .header_content {
    /* max-width: 783px; */
    margin: 0 auto;
    text-align: center;
    /* margin-bottom: 50px; */
}

.how_works .body_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: center;
}

.how_works .body_content img {
    border: 2px solid #E0E0E0;
    border-radius: 7.46405px;
}

.how_works .body_content img.pro {
    border: none !important;
}

.new_tab .nav {
    white-space: nowrap;
    overflow-x: scroll;
    gap: 24px;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    flex-wrap: nowrap;
    /* justify-content: center; */
    margin-bottom: 102px;
}

.new_tab .nav::-webkit-scrollbar {
    display: none;
}

.new_tab .nav-link {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #757575;
    border-radius: 32px;
    color: #757575;
    text-decoration: none;
    background-color: transparent;
}

.new_tab .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
    border: 1px solid #EA2227 !important;
    color: #EA2227 !important;

}




/* faqs section css */
.faqs {
    padding: 80px 0;
}

.faqs .header_content {
    max-width: 384px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.faqs .header_content h2 {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #212121;
    margin-bottom: 16px;
}

.faqs .header_content p {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #424242;
}

.faqs .faqs_accordion {
    max-width: 588px;
    margin: 0 auto;
}

.accordion-item {
    border: 1px solid #E0E0E0 !important;
    border-radius: 8px !important;
    margin-bottom: 16px;
}

.accordion-header .accordion-button {
    font-weight: 600;
    font-size: 16px !important;
    line-height: 19px;
    color: #212121;
    background-color: transparent;
    padding: 18.5px 24px !important;
}

hr {
    color: #E0E0E0;
    height: 1px !important;
    margin: 0;
}

.accordion-body ul {
    padding-left: 30px;
}
.accordion-body{
    border-top: 1px solid #E0E0E0;
}

.accordion-body ul {
    list-style-type: "*";
}

.accordion-body ul li {
    list-style: disc !important;
}

.accordion-body {
    text-align: justify;
}


.accordion-button {
    gap: 24px;
}

.accordion-button::after {
    background-image: url('assets/home-assets/plus-circle.svg');
}

.accordion-button:not(.collapsed)::after {
    background-image: url('assets/home-assets/minus.svg');
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

.accordion-button:focus {
    box-shadow: none;
}

/* footer section css */
footer {
    padding: 48px 0;
}

footer .footer_tag {
    width: 260px;
    margin: 0 auto;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 13px 16px;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    margin-bottom: 24px;

}

footer .footer_link {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 24px;

}

footer .footer_link a {
    text-decoration: underline;
    text-underline-offset: 1px;
    color: #424242;
}

footer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #424242;
    text-align: center;
    padding: 0 16px;
}

@media screen and (max-width:767px) {
    .navbar-nav {
        gap: 24px;
        text-align: center;
    }

    .navbar-brand {
        width: 134.94px;
        height: 24px;


    }

    a.nav-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    #login_btn {
        width: 100%;
    }

    #account_btn {
        width: 100%;
    }

    .section_P {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    .banner {
        padding: 48px 0;
    }

    .banner_body {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner_body h2 {
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        margin-bottom: 24px;
    }

    .wholeSeller .brand {
        width: 163px;
    }

    .how_works {
        padding: 48px 0;
    }

    .how_works .header_content {
        margin-bottom: 0px;
    }

    .new_tab .nav {
        gap: 16px;
    }

    .new_tab .nav-link {
        font-size: 14px;
    }

    .how_works .body_content h2 {
        margin-bottom: 24px;
    }

    .new_tab .nav {
        margin-bottom: 0 !important;
    }


    .how_works .body_content {
        grid-template-columns: repeat(1, 1fr);
    }

    .faqs .header_content h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .faqs .header_content p {
        font-size: 16px;
        line-height: 24px;
    }

    .faqs {
        padding: 40px 0;
    }

    footer {
        padding-top: 30px;
    }
}